html, body {
    height: 100%;
    overflow: hidden;
}

.textPreview, #editor {
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    width: 800px;

    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 45px;
    color: white;
}

.textPreview {
    display: none;
}

#editor {
    background-color: transparent;
    border-right: dashed 4px rgba(0, 0, 0, 0.5);
}

.ace_scrollbar, .ace_print-margin-layer {
    display: none;
}